@layer reset, base, tokens, recipes, utilities;

@layer base {
  html,
  body {
    min-height: 100%;
    /* background-color: var(--colors-background, white); */
    color-scheme: light;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--colors-background);
    color: var(--colors-text-main);
    font-family: var(--fonts-sans);
  }

  /* body {
    min-height: 100%;
    margin: 0;
  } */

  @media (prefers-color-scheme: dark) {
    html,
    body {
      /* background-color: var(--colors-background, #0f172a); */
      color-scheme: dark;
    }
  }

  .dark,
  .dark html,
  .dark body {
    /* background-color: var(--colors-background, #0f172a); */
    color-scheme: dark;
  }
}
