@layer reset, base, tokens, recipes, utilities;

@layer base {
  html,
  body {
    min-height: 100%;
    /* background-color: var(--colors-background, white); */
    color-scheme: light;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: theme("colors.background");
    font-family: theme("fonts.sans");
    color: theme("colors.text.main");
  }

  /* body {
    min-height: 100%;
    margin: 0;
  } */

  @media (prefers-color-scheme: dark) {
    html,
    body {
      /* background-color: var(--colors-background, #0f172a); */
      color-scheme: dark;
    }
  }

  .dark,
  .dark html,
  .dark body {
    /* background-color: var(--colors-background, #0f172a); */
    color-scheme: dark;
  }
}
